/mojadata/mojadata/__pycache__
/mojadata/mojadata/*.pyc
/mojadata/mojadata/error/__pycache__
/mojadata/mojadata/layer/*.pyc
*.pyc
*.suo
/mojadata/build/lib/mojadata
/mojadata/dist
/mojadata/mojadata.egg-info
/.vs/mojadata
